@import "rsuite/dist/rsuite.css";

:root{
    --creme: rgb(255, 250, 235);
    --creme-shade: #e8e2cf;
    --green: rgb(115, 145, 127);
    --light-green: rgba(115, 145, 127, 0.452);
    --white-shade: rgb(222, 222, 222);
    --green-shade: rgb(107, 133, 118);

    --primary-font: 'Montserrat', sans-serif;
    --decor-font: 'Unbounded', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--creme);
    font-family: var(--primary-font);
}

a:hover{
    text-decoration: none;
}

                            /* =====    PAGES   ===== */

/* ===== HOMEPAGE ===== */

.collection-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding: 1rem;
    width: 100%;
}

/* ===== ABOUT ===== */
.aboutpage-container h1{
    color: var(--green);
    text-align: center;
}

/* ===== LOG IN ===== */
.register,
.login {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: auto;
    background-color: rgba(0,0,0,0.05);
    border-radius: 0.5rem;
}

.login h2,
.register h2{
    color: var(--green);
}

.login form,
.register form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.login input,
.register input{
    border: 1px solid var(--green);
}

.login input[type="text"],
input[type="password"],
.login button,
.register input,
.register button {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.login label,
.login button {
  margin-top: 1rem;
}

.login button {
  padding: 0.5rem;
  background-color: var(--green);
  color: white;
}

.login button:hover{
    background-color: var(--green-shade);
}

.login button:active{
    background-color: rgb(87, 109, 96);
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

.login [type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

                                    /* =====    COMPONENTS  ===== */


/* ===== Collapsable ===== */
.collapsible {
    width: 50%;
    padding-bottom: 1rem;
    padding-top: 5px;
    padding-inline: 5px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    transition: height 0.3s ease-in-out;
    height: unset;
    background-color: #f1f1f1;
}
.collapsible-header {
    display: flex;
    justify-content: space-between;
}
.collapsible-content {
    padding: 0 1rem;
    background: #f1f1f1;
}

/* ===== FILTERS ===== */
.filters-Form {
    /* padding: 0 20vh; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.filters-Form button {
    background-color: var(--green);
    color: white;
    border-radius: 50px;
    padding: .5rem;
    margin: 1rem 0 0 0;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

/* ===== HEADER ===== */
header{
    color: white;
    height: 60vh;
    background-image: url(./assets/vadim-kaipov-8ZELrodSvTc-unsplash.jpg);
    background-position: center;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-block: 1rem;
}

nav a{
    margin-inline: .5rem;
    cursor: pointer;
    width: fit-content;
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

nav a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--creme);
    width: 0;
    transition: all 300ms;
    /* margin-top: 5rem; */
}

nav a:hover::before{
    width: 100%;
}

nav a.active{
    font-weight: bolder;
    color: var(--creme);
    text-decoration: none;
}

nav a:hover{
    color: inherit;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
}

.logo{
    font-size: 2rem;
    font-family: var(--decor-font);
}

.hero h1{
    color: white;
}

/* SVG */
.custom-shape-divider-bottom-1671001641 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671001641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.custom-shape-divider-bottom-1671001641 .shape-fill {
    fill: #FFFAEB;
}

/* ===== LOADER ===== */
.custom-loader {
    width: 80px;
    height: 80px;
    --c:rgb(115, 145, 127) 91%,#0000;
    background:
      radial-gradient(30% 50% at -3px             55%, var(--c)) top    right,
      radial-gradient(30% 50% at -3px             45%, var(--c)) bottom right,
      radial-gradient(30% 50% at calc(100% + 3px) 55%, var(--c)) top    left,
      radial-gradient(30% 50% at calc(100% + 3px) 45%, var(--c)) bottom left,
  
      radial-gradient(50% 30% at 45% calc(100% + 3px), var(--c)) top    right,
      radial-gradient(50% 30% at 45% -3px            , var(--c)) bottom right,
      radial-gradient(50% 30% at 55% calc(100% + 3px), var(--c)) top    left,
      radial-gradient(50% 30% at 55% -3px            , var(--c)) bottom left;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
    animation:sh8 1.5s infinite linear;
  }
  
  @keyframes sh8 { 
    100%{transform: rotate(1turn)}
  }

  /* ===== PLANT CARD ===== */

.plant-card-container{
    width: 200px;
    height: 200px;
    /* border: 2px solid var(--green);*/
    border: 2px solid var(--light-green); 
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
}

.img-container{
    overflow: hidden;
}

.plant-card-container img{
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.plant-card-container:hover img{
    transform: scale(1.2);
}

.plant-card-container p{
    line-height: 80px;
    text-align: center;
    color: black;
}

.plant-card-container:hover a{
    text-decoration: none;
}

.plant-card-container:hover{
    outline: 2px;
    background-color: var(--creme-shade);
}


/* ===== SEARCHBAR ===== */
.searchbar-wrapper{
    border-radius: 50px;
    width: 80%;
    position: relative;
    text-align: center;
    margin: 1em auto;
    border: 1px solid rgb(0,0,0,0.1);
}

.searchbar-wrapper button {
    background-color: var(--green);
    color: white;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-inline: 5px;
    height: 100%;
}


.searchbar-wrapper button:hover{
    background-color: var(--green-shade);
}


.searchbar-wrapper input{
    width: 100%;
    color: black;
    padding: .5rem;
    border-radius: 50px;
    border: none;
    font-family: var(--primary-font);
}


/* ===== FOOTER ===== */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}

footer i{
    margin-right: 5px;
}

footer a{
    color: black;
}

footer a:hover{
    color: rgb(42, 42, 42);
}

/* md+ screens */
@media screen and (min-width: 500px) {

    /* HEADER */
    .logo{
        font-size: 4rem;
    }

    nav .link{
        font-size: 1.3rem;
    }

    header{
        height: 60vh;
    }

    /* SEARCHBAR */
    .searchbar-wrapper{
        width: 60%;
    }
    .searchbar-wrapper input{
        padding: .8rem;
    }

    .searchbar-wrapper button {
        padding-inline: 1rem;
    }
}

