:root{
    --creme: rgb(255, 250, 235);
    --green: rgb(115, 145, 127);
    --white-shade: rgb(223, 222, 222);
    --green-shade: rgb(107, 133, 118);
    --primary-font: 'Montserrat', sans-serif;
    --decor-font: 'Unbounded', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--creme);
    font-family: var(--primary-font);
}

a{
    color: black;
}

a:hover{
    color: rgb(78, 78, 78);
}