header{
    color: white;
    height: 70vh;
    background-image: url(../../assets/vadim-kaipov-8ZELrodSvTc-unsplash.jpg);
    background-position: center;
    object-fit: cover;

    position: relative;
}

nav{
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
}

nav p{
    padding: 1rem;
    text-align: end;
    cursor: pointer;
}

nav p:hover{
    color: var(--white-hover);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

h1{
    font-size: 2rem;
    font-family: var(--decor-font);
}

/* SVG */
.custom-shape-divider-bottom-1671001641 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671001641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.custom-shape-divider-bottom-1671001641 .shape-fill {
    fill: #FFFAEB;
}



/* md+ screens */
@media screen and (min-width: 500px) {
    h1{
        font-size: 4rem;
    }
}