header{
    color: white;
    height: 60vh;
    background-image: url(../../assets/vadim-kaipov-8ZELrodSvTc-unsplash.jpg);
    background-position: center;
    object-fit: cover;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-block: 1rem;
}

nav .link{
    margin-inline: 1rem;
    cursor: pointer;
    width: fit-content;
    color: white;
    text-decoration: none;
    position: relative;
}

nav .link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--creme);
    width: 0;
    transition: all 300ms;
}

nav .link:hover::before{
    width: 100%;
}

nav .link.active{
    font-weight: bolder;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
}

.logo{
    font-size: 2rem;
    font-family: var(--decor-font);
}

/* SVG */
.custom-shape-divider-bottom-1671001641 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671001641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.custom-shape-divider-bottom-1671001641 .shape-fill {
    fill: #FFFAEB;
}



/* md+ screens */
@media screen and (min-width: 500px) {
    .logo{
        font-size: 4rem;
    }

    nav .link{
        font-size: 1.3rem;
    }

    header{
        height: 70vh;;
    }
}