.searchbar-wrapper{
    border-radius: 50px;
    width: 80%;
    position: relative;
    text-align: center;
}


.searchbar-wrapper button {
    background-color: var(--green);
    color: white;
    position:absolute;
    right:0;
    top:0;
    bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: .5rem;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


button:hover{
    background-color: var(--green-shade);
}


input{
    width: 100%;
    color: black;
    padding: .5rem;
    border-radius: 50px;
    border: none;
    font-family: var(--primary-font);
}

@media screen and (min-width: 500px) {
    .searchbar-wrapper{
        width: 60%;
    }
    input{
        padding: .8rem;
    }
} 